//*mixin定義//*///////////////////////////////////////////////////////
@mixin top-box-style {
    width: 180px;
    height: 200px;
    background-color: orange;
    float: left;
    padding: 10px 0 0 0;
    border: 2px solid #333;
    text-align: center;
}
//////TOP画面ここから////////////////////****/////////////////////////////

.hero {
    background: url(../images/bgc.png) center center no-repeat / cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .top-logo {
        width: 500px;
        height: 700px;
        text-align: center;
        padding-top:350px;
         position: absolute;
         z-index:2;
    img {
        width: 100%;
    }
}
   .kage {
        width: 1110px;
        height: 700px;
        position: absolute;
        z-index:1;
        position: relative;
        overflow:hidden;
        img {
            width: 100%;
            position: absolute;
            right:0;
            bottom:-80px;
        }
    }
}
.secotion {
    height: 600px;
    background-color: #333;
.big-box {
    width: 1110px;
    height: 410px;
    border: 5px solid #333;
    .left {
        width: 360px;
        height: 400px;
        float: left;
        a {
            color:#333;
        }

        .box-1 {
            @include top-box-style;
            position: relative;
            img {
                height: 80%;
                position: absolute;
                 right:0;
                bottom: 0;
            }
        }

        .box-2 {
            @include top-box-style;

            img {
                height: 55%;
            }
        }

        .box-3 {
            @include top-box-style;

            h3 {
                padding: 30px 30px 0 30px;
            }

            img {
                height: 60%;
            }
        }

        .box-4 {
            @include top-box-style;

            img {
                padding-top: 10px;
                height: 60%;
            }
        }
    }

    .fb {
        width: 480px;
        height: 400px;
        background-color: #999;
        float: left;
    }
    .record {
    width: 250px;
    height: 400px;
    background-color: orange;
    float: left;
    img {
        width: 250px;
        height: 400px;
    }
    }
}
}
.sns-cover {
    background-color: orange !important;
    height: 15px;
}

.sns {
    width: 100%;
    display: flex;
}

//*ホバーここから//*///////////////////////////////////////////////////////
.fa-facebook:hover {
        color: #f50!important;
    }
.box-1:hover {
        color:#fff;
        background-color: #f50!important;
        transform: scale(1.1);  /*画像の拡大率*/
        transition-duration: 0.3s;
}
.box-2:hover {
        color:#fff;
        background-color: #f50!important;
        transform: scale(1.1);  /*画像の拡大率*/
        transition-duration: 0.3s;
}
.box-3:hover {
        color:#fff;
        background-color: #f50!important;
        transform: scale(1.1);  /*画像の拡大率*/
        transition-duration: 0.3s;
}
.box-4:hover {
        color:#fff;
        background-color: #f50!important;
        transform: scale(1.1);  /*画像の拡大率*/
        transition-duration: 0.3s;
}
//*ホバーここまで//*///////////////////////////////////////////////////////
//*可変サイズここから//*///////////////////////////////////////////////////////
@media (max-width:768px) {
                .sns-cover {
                padding: 5px!important;
                height: 30px;

                .sns {
                    height: 15px;
                    .Welcome {
                    height: 15px;
                    font-size:14px;
                      }

                    .fa-facebook {
                        display: none;
                    }
                }
            }

            .hero {
                   width: 100%;
                   height: 450px;
            .top-logo {
                    width: 300px;
                    height: 450px;
                    padding-top:210px;
                     img {width: 100%;}
                   }
            .kage {
                  height: 450px;
                      img {
                      width: 100%;
                      right:20px;
                       }
                    }
                }

            .box-1 {
                width: 200px;
                height: 40% !important;
                padding-top: 10px;
                border-bottom: 1px solid #999;

                .img {
                    height: 40%;
                    object-fit: cover;
                }
            }

            .box-2 {
                width: 200px;
                height: 40% !important;
                padding-top: 10px;
                border-bottom: 1px solid #999;

                .img {
                    height: 40%;
                    object-fit: cover;
                }
            }

            .box-3 {
                width: 200px;
                height: 40% !important;
                padding-top: 10px;

                h3 {
                    color: #555 !important;
                }

                .img {
                    height: 40%;
                    object-fit: cover;
                }
            }

            .box-4 {
                width: 200px;
                height: 40% !important;
                padding-top: 10px;

                .img {
                    height: 40%;
                    object-fit: cover;
                }
            }

          .secotion {
                  height: 810px;
                .big-box {
                     width: 768px;
                     height: 800px;
               .left {
                     width: 360px;
                     height: 400px;
                     }

                 .fb {
                      width: 460px;
                     height: 400px;
                       }

           .record {
                     display:none;
                   }
                }
              }
}

        //*可変サイズここまで//*///////////////////////////////////////////////////////